/events_api/events_api/obj
/events_api/events_api/bin
/events_api/src/EventsApi.Presentation/obj
/events_api/src/EventsApi.Presentation/bin
/events_api/src/EventsApi.Application/obj
/events_api/src/EventsApi.Application/bin
/events_api/src/EventsApi.Domain/obj
/events_api/src/EventsApi.Domain/bin
/events_api/src/EventsApi.Infrastructure/obj
/events_api/src/EventsApi.Infrastructure/bin

*.dll
*.exe
*.suo
*.user
*.userosscache
*.csproj.user
*.vssscc
*.vspscc
*.cache
/events_api/.vs
/events_api/events_api/.vs
events_api.Tests/bin
events_api.Tests/obj
events_api.Tests/events_api.Tests/bin
events_api.Tests/events_api.Tests/obj
events_api.Tests/.vs

events_api/events_api.IntegrationTests/bin
events_api/events_api.IntegrationTests/obj
events_api/events_api.IntegrationTests/.vs
