/events_api/events_api/obj
/events_api/events_api/bin
*.dll
*.exe
*.suo
*.user
*.userosscache
*.csproj.user
*.vssscc
*.vspscc
*.cache
/events_api/.vs
/events_api/events_api/.vs
events_api.Tests/bin
events_api.Tests/obj
events_api.Tests/events_api.Tests/bin
events_api.Tests/events_api.Tests/obj
events_api.Tests/.vs

events_api/events_api.IntegrationTests/bin
events_api/events_api.IntegrationTests/obj
events_api/events_api.IntegrationTests/.vs
